form .error {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px;
    background-color: red;
    color: whitesmoke;
}

form .valid {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 10px;
    background-color: green;
    color: whitesmoke;
}
