<th:block th:replace="~{ base :: layout('Login', ~{::form}, ~{::link}) }">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">

    <form method="post">
        <div class="error" th:if="${error}" th:switch="${error}">
            <p th:case="invalidCredentials">Invalid credentials, check your inputs.</p>
        </div>
        <div class="valid" th:if="${status}" th:switch="${status}">
            <p th:case="registrationComplete">Registration complete ! You can now log yourself to your account.</p>
        </div>

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" required/>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required/>

        <input type="submit" value="Login">
        <a th:href="@{/register}" href="/register">Didn't have an account ? Register now!</a>
    </form>
</th:block>
